body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.app {
    width: 300px;
    height: 600px;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
    background-color: rgb(202, 250, 250);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5);
}
.title-app {
    font-size: 20px;
    text-align: center;
}
.score-app {
    text-align: center;
}
.layer-1 {
    width: 75px;
    height: 450px;
    position: absolute;
    left: 65px;
    bottom: 0;
    z-index: 1;
}
.layer-2 {
    width: 75px;
    height: 450px;
    position: absolute;
    right: 65px;
    bottom: 0;
    z-index: 1;
}
.layer-3 {
    width: 220px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: brown;
}
.layer-4 {
    width: 75px;
    height: 350px;
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 3;
}
.layer-5 {
    width: 220px;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    background-color: purple;
}
.layer-6 {
    width: 75px;
    height: 250px;
    position: absolute;
    right: 25px;
    bottom: 0;
    z-index: 5;
}
.layer-7 {
    width: 130px;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 6;
    background-color: burlywood;
}
.layer-8 {
    width: 120px;
    height: 100px;
    border-bottom-left-radius: 20px;
    position: absolute;
    bottom: 0;
    z-index: 8;
    background-color: #fff;
}
.layer-9 {
    width: 120px;
    height: 100px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 8;
    background-color: #fff;
}
.layer-10 {
    width: 200px;
    height: 120px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
    background-color: #00ff00;
}

.body-bunny-first {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.body-bunny-second {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.body-bunny-third {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.body-bunny-four {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.left-ear--outer {
    width: 20px;
    height: 60px;
    border-radius: 90%;
    position: absolute;
    left: 5px;
    background-color: white;
}
.left-ear--inner {
    width: 10px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 90%;
    background-color: pink;
}

.right-ear--outer {
    width: 20px;
    height: 60px;
    border-radius: 90%;
    position: absolute;
    right: 5px;
    background-color: white;
}
.right-ear--inner {
    width: 10px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 90%;
    background-color: pink;
}
.head {
    width: 100%;
    height: 80px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    top: 30px;
    background-color: white;
}
.head__eye {
    border-radius: 100%;
    border: 2px solid black;
}
.head__eye--left {
    position: absolute;
    top: 10px;
    left: 25px;
}
.head__eye--right {
    position: absolute;
    top: 10px;
    right: 20px;
}